@import "tailwindcss";
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  color: #f6f6f6;
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.table_cell {
  @apply py-3 px-6 text-left border-b border-zinc-700 whitespace-nowrap block md:table-cell  md:text-left relative before:content-[attr(data-label)] before:absolute before:left-2.5 before:w-[calc(50%_-_20px)] before:pr-2.5 before:whitespace-nowrap before:text-left before:font-bold md:before:content-none;
}

.table_header {
  @apply py-3 px-6 text-left border-b border-zinc-700 bg-zinc-600 font-bold whitespace-nowrap;
}

.btn {
  @apply py-2 px-4 bg-orange-500 text-white border-none text-lg rounded-md cursor-pointer hover:bg-orange-700;
}

.pagination_btn {
  @apply py-2 px-4 mr-2 text-black border-none rounded-md cursor-pointer text-lg hover:bg-orange-700;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 28px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  top: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-orange-500);
}

input:checked + .slider::before {
  transform: translateX(22px);
}
